PORT=5000
MONGO_URL=mongodb+srv://john:1234@nodeexpressprojects.05xt4.mongodb.net/oasisChallet?retryWrites=true&w=majority&appName=NodeExpressProjects
LOG_LEVEL=debug #set to info in production
NODE_ENV=development #set to production in production, to only allow requests via http
JWT_SECRET=e625624418ca6b48d3041d2c29ca6716ae3e140f62c70ebe986a5a75f42e7110
EMAIL_USER=th.rider.clan@gmail.com
EMAIL_PASS='ppqpjbixkriirckl'
